<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: navigation"></div>


<table border=5 bordercolor=green>
    <thead class="header">
    <td>Nazwa</td>
    <td>Opis</td>
    <td>Produkty</td>
    <td>Remove</td>

    </thead>
    <tbody>
    <tr th:each="recipe, iterStat : ${favourites}" th:class="${iterStat.odd} ? 'odd' : 'even'">
        <td><span th:text="${recipe.recipeName}"></span></td>
        <td><span th:text="${recipe.recipeDescription}"></span></td>
        <td>
            <table>
                <tr><td>
                    <ul th:each="product, iterStat : ${recipe.productNames}">
                        <li><span th:text="${product}"></span></li>
                    </ul>
                </td></tr>
            </table>
        </td>
        <td>
            <div sec:authorize="isAuthenticated()">
        <td><a th:href="@{/favourites/delete?id=} + ${recipe.recipeId}">Remove</a></td>
        </div>

        </td>
        </tr>
    </tbody>
</table>
</body>
</html>