<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:replace="fragments/header :: navigation"></div>

<table border=5 bordercolor=green>
    <thead class="header">
    <td>Nazwa</td>

    </thead>
    <tbody>
    <tr th:each="product, iterStat : ${products}" th:class="${iterStat.odd} ? 'odd' : 'even'">
        <td><span th:text="${product.name}"></span></td>

        <div sec:authorize="hasRole('ADMIN')">
    <td><a th:href="@{/product/update?id=} + ${product.id}">Edytuj</a></td>
    <td><a th:href="@{/product/delete?id=} + ${product.id}">Usuń</a></td>
        </div>
</tr>
</tbody>
</table>
<div sec:authorize="hasRole('ADMIN')">
    <p><a th:href="@{/product/add}">Dodaj produkt</a></p>
</div>
</body>
</html>