<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: navigation"></div>
<table>
    <thead class="header">
    <td>Nazwa</td>
    <td>Opis</td>
    <td>Produkty</td>

    </thead>
    <tbody>
    <tr th:each="recipe, iterStat : ${recipes}" th:class="${iterStat.odd} ? 'odd' : 'even'">
        <td><span th:text="${recipe.name}"></span></td>
        <td><span th:text="${recipe.description}"></span></td>
<!--    <tr th:each="product, iterStat : ${recipe.productId}" th:class="${iterStat.odd} ? 'odd' : 'even'">-->
<!--        <td><span th:text="${product}"></span></td>-->
<!--    </tr>-->

        <div sec:authorize="hasRole('ADMIN')">
            <td><a th:href="@{/product/addOrUpdate?id=} + ${recipe.id}">Edytuj</a></td>
            <td><a th:href="@{/product/delete?id=} + ${recipe.id}">Usuń</a></td>
        </div>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasRole('ADMIN')">
    <p><a th:href="@{/recipe/addOrUpdate}">Dodaj przepis</a></p>
</div>
</body>
</html>