<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: navigation"></div>
<table border=5 bordercolor=green>
    <thead class="header">
    <td>Nazwa</td>
    <td>Opis</td>
    <td>Produkty</td>
    <td>Add to favourites</td>


    </thead>
    <tbody>
    <tr th:each="recipe, iterStat : ${search}" th:class="${iterStat.odd} ? 'odd' : 'even'">
        <td><span th:text="${recipe.recipeName}"></span></td>
        <td><span th:text="${recipe.recipeDescription}"></span></td>
        <td>
            <table>
                <tr><td>
                    <ul th:each="product, iterStat : ${recipe.productNames}">
                        <li><span th:text="${product}"></span></li>
                    </ul>
                </td></tr>
            </table>
        </td>
        <td>
            <a th:href="@{/search/add?id=} + ${recipe.recipeId}">Add to favourites</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>